.hidden {
  display: none;
}

.row {
  display: flex;
}

.flex-wrap {
  flex-direction: wrap;
}

.column-full {
  flex-basis: 100%;
}

.colum-half {
  flex-basis: 50%;
}

.column-80 {
  flex-basis: 80%;
}

.container {
  max-width: 90%;
  margin: auto;
}

.center {
  justify-content: center;
}
